{% load static %}


<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <img class="img-fluid" src="{% static 'assets/img/financial_calculators/home-flaticon.svg' %}" alt=""/>
        <h6 class="heading-text text-uppercase mb-0">Real Estate</h6>
        <!-- Masthead Subheading-->
        <p class="subheading-text font-weight-light mb-0">Find the best deal for you </p>
    </div>
</header>