<div class="card-body p-b-0 main-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab2" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profitability" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down"> Investment Profitability </span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#mortgage" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down"> Mortgage </span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-pane active" id="home7" role="tabpanel">
                <div class="p-20">
                    <h3>Best Clean Tab ever</h3>
                    <h4>you can use it with the small code</h4>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                </div>
            </div>
            <div class="tab-pane p-20" id="profitability" role="tabpanel">2</div>
            <div class="tab-pane p-20" id="mortgage" role="tabpanel">3</div>
        </div>
    </div>
</div>