{% load static %}

<style>
    a {
        color: #e9eceb;
    }

    .btn {
        background-color: #1abc9c;
        border-color: white;
    }

</style>

<div class="container">
    {#  Step 1 - Upload File  #}
    <div class="inner-container" id="step-one-container-id">
        <h3 id="main-step-header"> <i id="step-one-icon" class="mdi mdi-arrow-right-drop-circle-outline"></i> Step 1 - Upload file</h3>
        <h6 id="help-text"> You can upload CSV or JSON files </h6>
        <form method="post"
              enctype="multipart/form-data"
              id="upload-data-form-id">

            {% csrf_token %}
            <input id="uploaded-file-id" class="dropify" type="file" name="file"> <br>
            <button id="upload-file-btn-id" onclick="submitUploadDataForm()"
                    class="btn btn-lg btn-success"> Upload </button>
        </form>
    </div>

    {#  Step 2 - Set Schema  #}
    <div class="inner-container" id="step-two-container">
        <h3 id="step-header"> <i id="step-one-icon" class="mdi mdi-arrow-right-drop-circle-outline"></i> Step 2 - Set Schema</h3>
        <h6 id="help-text"> adjust schema fields with the right data-type</h6>
{##}
{#    <div class="col-md-4">#}
{#        <select class="selectpicker" data-style="form-control btn-secondary">#}
{#            <option>Mustard</option>#}
{#            <option>Ketchup</option>#}
{#            <option>Relish</option>#}
{#        </select>#}
{#    </div>#}
        <div id="columns-mapping-div-id">  </div>
    </div>




</div>