<div class="card-body p-b-0 main-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab2" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#stocks" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down"> Stocks </span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#bonds" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down"> Bonds </span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-pane p-20 active" id="stocks" role="tabpanel">
                <h1> Stocks are blah blah blah  </h1>
            </div>
            <div class="tab-pane p-20" id="bonds" role="tabpanel">
                <h1> Bonds are a solid investment </h1>
            </div>
        </div>
    </div>
</div>