{% load static %}


<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <img class="img-fluid" src="{% static 'assets/img/financial_calculators/stock-market-icon.svg' %}" alt=""/>
        <h6 class="heading-text text-uppercase mb-0">Stock Market</h6>
        <!-- Masthead Subheading-->
        <p class="subheading-text font-weight-light mb-0"> Analyze trends and reach high yields and profitability </p>
    </div>
</header>